<template>
  <div
    :class="{ 'open-item': maxHeight != '0px', disabledx: disabled }"
    class="vs-collapse-item"
    @mouseover="mouseover"
    @mouseout="mouseout"
  >
    <header class="vs-collapse-item--header" @click="toggleContent">
      <slot name="header"></slot>
      <span v-if="!notArrow" class="icon-header vs-collapse-item--icon-header">
        <vs-icon :icon-pack="iconPack" :icon="iconArrow" />
      </span>
    </header>
    <div ref="content" :style="styleContent" class="vs-collapse-item--content">
      <div class="con-content--item">
        <slot />
      </div>
    </div>
  </div>
</template>
<script>
import vsicon from "../vsIcon";
export default {
  name: "VsCollapseItem",
  props: {
    open: {
      default: false,
      type: Boolean
    },
    disabled: {
      default: false,
      type: Boolean
    },
    notArrow: {
      default: false,
      type: Boolean
    },
    iconArrow: {
      default: "keyboard_arrow_down",
      type: String
    },
    iconPack: {
      default: "material-icons",
      type: String
    },
    sst: {
      default: false,
      type: Boolean
    }
  },
  data: () => ({
    maxHeight: "0px",
    // only used for sst
    dataReady: false
  }),
  computed: {
    accordion() {
      return this.$parent.accordion;
    },
    openHover() {
      return this.$parent.openHover;
    },
    styleContent() {
      return {
        maxHeight: this.maxHeight
      };
    }
  },
  watch: {
    maxHeight() {
      this.$parent.emitChange();
    },
    ready(newVal, oldVal) {
      if (oldVal != newVal && newVal) {
        this.initMaxHeight();
      }
    }
  },
  mounted() {
    window.addEventListener("resize", this.changeHeight);
    if (this.open) this.removeHeight();
  },
  methods: {
    removeHeight(open = true) {
      this.maxHeight = `${this.$refs.content.scrollHeight}px`;
      if (open) setTimeout(() => (this.maxHeight = ""), 200);
      else setTimeout(() => (this.maxHeight = `0px`), 1);
    },
    changeHeight() {
      if (this.maxHeight != "0px") this.removeHeight();
    },
    toggleContent() {
      if (this.openHover || this.disabled) return;

      if (this.accordion) {
        this.$parent.closeAllItems(this.$el);
      }

      if (this.sst && !this.dataReady) {
        this.$emit("fetch", {
          done: () => {
            this.initMaxHeight();
            this.dataReady = true;
          }
        });
      } else {
        this.initMaxHeight();
      }
    },
    initMaxHeight() {
      if (this.maxHeight == "0px") this.removeHeight();
      else this.removeHeight(false);
    },
    mouseover() {
      if (this.disabled) return;
      if (this.openHover) this.removeHeight();
    },
    mouseout() {
      if (this.openHover) this.removeHeight(false);
    }
  }
};
</script>
